<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-windows-folders" version="0.0.2">
  <name>Windows Folders</name>
  <description>Cordova Windows Folders</description>
  <license>Apache 2.0</license>
  <keywords>cordova,device</keywords>
  <platform name="windows">
    <config-file target="package.appxmanifest" parent="/Package/Capabilities">
      <uap:Capability Name="documentsLibrary" />
    </config-file>
    <config-file target="package.appxmanifest" parent="/Package/Applications/Application/Extensions" >
      <uap:Extension Category="windows.fileTypeAssociation">
        <uap:FileTypeAssociation Name="inspectorapp">
          <uap:SupportedFileTypes>
            <uap:FileType>.db</uap:FileType>
            <uap:FileType>.json</uap:FileType>
          </uap:SupportedFileTypes>
        </uap:FileTypeAssociation>
      </uap:Extension>
    </config-file>
  </platform>
</plugin>
